{
    "plugins": [
      ["prismjs", {
          "languages": ["javascript", "css", "markup", "powershell", "batch"],
          "plugins": ["line-numbers","copy-to-clipboard"],
          "theme": "tomorrow-night",
          "css": true
      }]
    ]
  }