.carousel-wrapper{
    position: relative;
    height: 100%;
}

.carousel-wrapper .image{
    transition: transform 0.5s ease, opacity 0.5s ease;
    height: 30%;
}

.carousel-wrapper > .carousel-container{
    position: relative;
}

.carousel-wrapper .image > img{
    max-width: 100%;
}

.carousel-wrapper .controls{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    top: 60%;
    width: 100%;
}

body:not(.is-touch) .carousel-wrapper .image:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

    body:not(.is-touch) .carousel-wrapper .image:hover:before {
        background-color: #333333;
        opacity: 0.35;
    }

    body:not(.is-touch) .carousel-wrapper .image:hover:after {
        opacity: 0;
    }

    body:not(.is-touch) .carousel-wrapper .image:hover + .zoom{
        opacity: 1.0;
    }

.carousel-wrapper .image:before {
    pointer-events: none;
    -moz-transition: background-color 0.5s ease, opacity 0.5s ease;
    -webkit-transition: background-color 0.5s ease, opacity 0.5s ease;
    -ms-transition: background-color 0.5s ease, opacity 0.5s ease;
    transition: background-color 0.5s ease, opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
}

.carousel-wrapper .image:after {
    pointer-events: none;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    z-index: 2;
}

.carousel-wrapper > .carousel-container > .zoom{
    pointer-events: none;
    transition: opacity .5s ease;
    position: absolute;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
    font-size: 2em;
    transition: opacity 0.5s ease;
    color: #ffffff;
    z-index: 1;
    text-shadow: 0px 0px 10px #333333;
    opacity: 0;
}

.gallery:after{
    content:'';
    position: fixed;
    top: 0%;
    left: 0%;
    opacity: .8;
    width: 100%;
    height: 100%;
    background-color: #585858;
    z-index: 1000;
}

.gallery > .g-container{
    position: fixed;
    top: 15%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    width: 70%;
    height: 70%;
}

.gallery > .g-container > img{
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    max-width: 100%;
}

.gallery > .g-container > a{
    font-size: 2em;
    text-align: start;
    color: #ffffff;
    text-shadow: 0px 0px 10px #333333;
    position: fixed;
    top: 5%;
    right: 5%;
}

.gallery > .g-container > .navigation{
    position: fixed;
    top: calc(50% - 2em);
}
.gallery > .g-container > .navigation *{
    position: fixed;
    font-size: 4em;
    width: auto;
    text-shadow: 0px 0px 10px #333333;
    color: #ffffff;
}
.gallery > .g-container > .navigation > :first-child{
    left: 5%;
}
.gallery > .g-container > .navigation > :last-child{
    right: 5%;
}

@media screen and (max-width: 736px){

    .gallery > .g-container{
        left: 0%;
        width: 100%;
    }

    .gallery > .g-container > .navigation{
        top: 80%;
    }
    

}