.tree{
    width: 100%;
}

.tree-container{
    transition: height 0.5s ease;
    height:0px;
    background-color: #4e4e4e;
    overflow: hidden;  
}

.tree-container > ul{
    padding: 0em 2em 2em 2em;
}
.tree-container--expanded{
    height: 500px;
    overflow: auto;
}

.tree-btn{
    transition: transform 0.5s ease;
    transform: rotate(0deg);
    font-size: 1.5em;
}

.tree-btn--expanded{
    transform: rotate(90deg);
}

.tree > .tree-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tree > .tree-controls > :last-child{
    padding-left: 0.5em;
}
